*{

    margin:0;
    text-decoration: none; 
    list-style-type: none;
    box-sizing: border-box;
    /* overflow:hidden; */
   
}



nav{
    background: #283747;
    margin-top: rem;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 1.2rem;
    width:100%;
    height:fit-content;
    display:flex;
    position:fixed;
    z-index: 2;
    margin-bottom:0;
}

.nav-logo{
    font-weight: 900;
    margin-top:8px;
    margin-left:20px;
    width:40%;
}

.logo,.nav-logo-letter{

    margin-bottom: 0;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 900;
    color:#eee5e5; 
}

.nav-link-bar{
   
    flex:1;
    font-size: 1.5rem;
    align-self: center;
    width:60%;
    position:relative;
    z-index: 1;
  
   
}

.nav-links{
   
    font-size: 2rem;
    background: #f2f9f5;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin:0;
    display: flex;
    justify-content: flex-end;
   
}

.nav-link{

 margin:0 auto;
}

.menu{
    display: none;
    flex-shrink: 1;
}

/* ======================frontpage===================== */
.frontpage{
    background:#9CA3AF;
    background: rgb(231,104,8);
    background: linear-gradient(164deg, rgba(231,104,8,1) 0%, rgba(242,236,232,1) 41%, rgba(243,244,246,1) 54%, rgba(8,235,26,1) 100%);
    width:100%; 
    overflow: hidden;
    height:150rem;
    font-family: 'REM', sans-serif;
   /* background: bisque; */

}


.img1{
    /* border:1px solid white; */
    position:relative;
    top:10rem;
    margin:80%;
    margin:0 auto;
    left:10rem;
    width:69rem;
    height:45rem;
    z-index: 0;
    /* opacity: 60%; */

}

.slogan{
    width:50%;
    position:relative;
    color:#1A56DB;
    font-weight: 900;
    font-size:4rem;
    top:12rem;
    left:6rem;
    line-height: 7rem;
    z-index: 1;
}
.highlight1{
    font-size: 4.5rem;
    color:#2E4053; 
}

.img4{
    margin:0;
    /* border: 1px solid black; */
    width:512px;
    height:512px;
    position:relative;
    left:25rem;
    bottom:-1rem;
    position: relative;
    z-index: 0;
    opacity: 30%;
}

.slogan_about{
    width:50%;
    font-family: 'Geologica', sans-serif; 
    font-weight: 600;
    font-size: 2.2rem;
    color:#1B4F72;
    position:relative;
    top:-20rem;
    left:45rem;

}
.highlight2{
    font-size:3rem ;
    color:#FFA500;
}

@media (max-width:1400px){
    
}